<fa-surface fa-properties="{zIndex: -1, background: '#3d4860 url(images/yoobic-landscape.svg) left bottom repeat-x'}">
</fa-surface>

<fa-modifier fa-origin="[0.5, 0.5]" fa-align="[0.5, 0.5]" fa-size="[600, 500]">
    <fa-surface>
        <img src="images/yoobic-logo.svg" style="margin-left:auto;margin-right:auto;display:block" />
        <div class="logo-header">
            COMPONENT SHOWCASE
        </div>
        <img src="images/famous-angular-white-logo_x4.png"  style="margin-left:auto;margin-right:auto;display:block;width:306px;height:123px" />
    </fa-surface>
    <!-- <fa-view > -->

</fa-modifier>
