<fa-view>
    <yoo-side-menus>
        <yoo-side-menu-content edge-drag-threshold="{{vm.edgeDragThreshold}}">
            <div class="box blue">
                <h1>CONTENT BLUE</h1>
            </div>
        </yoo-side-menu-content>
        <yoo-side-menu side="left" width="200">
            <div class="box green">
                <h1>MENU LEFT GREEN</h1>
            </div>
        </yoo-side-menu>
        <yoo-side-menu side="right">
            <div class="box pink">
                <h1>MENU RIGHT PINK</h1>
            </div>
        </yoo-side-menu>
    </yoo-side-menus>
</fa-view>
