<yoo-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true">
    <yoo-slide>
        <div class="box blue">
            <h1>BLUE</h1>
        </div>
    </yoo-slide>
    <yoo-slide>
        <div class="box yellow">
            <h1>YELLOW</h1>
        </div>
    </yoo-slide>
    <yoo-slide>
        <fa-modifier fa-rotate-z="0.8">
            <fa-surface>
                <div class="box pink">
                    <h1>PINK</h1>
                </div>

            </fa-surface>
        </fa-modifier>
    </yoo-slide>
</yoo-slide-box>
