@import "../../bower_components/ionic/scss/ionic.scss";
.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.full-height, .full-height .fa-surface {
    height: 100%
}
.full-width, .full-width .fa-surface {
    width: 100%
}
div .logo-header {
    text-align: center;
    font-family: 'proxima_nova_alt_reg-webfont';
    color: #FFFFFF;
    font-size: 2.3em;
    letter-spacing: 0.08em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
@import "yoo-slide-box", "./testzone.scss";
