.box {
    text-align: center;
    position: absolute !important;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 2px #888888;
    border-radius: 4px;
    display: table;    
    h1 {
        color: white;
        display: table-cell;
        vertical-align: middle;
    }
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: pink;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.green {
    background-color: green;
}
