<fa-modifier fa-size="[30*yooPagerCtrl.slidesRange.length,20]" fa-align="[0.5,1]" fa-origin="[0.5,1]" fa-translate="[0,-10]">
    <fa-sequential-layout fa-options="{direction: 0}">
        <fa-modifier ng-repeat="slide in yooPagerCtrl.slidesRange track by $index" fa-size="[30,20]" fa-opacity="yooPagerCtrl.markerOpacity(yooSlideBoxCtrl.getPageDistance($index))">
            <fa-modifier fa-align="[0.5,0.5]" fa-origin="[0.5,0.5]" fa-scale="yooPagerCtrl.markerScale(yooSlideBoxCtrl.getPageDistance($index))">
                <fa-surface class="text-center" ng-click="yooSlideBoxCtrl.setActivePage($index)" fa-z-index="3">
                    <i class="icon ion-record" ng-class="yooSlideBoxCtrl.pagerColor"></i>
                </fa-surface>
            </fa-modifier>
        </fa-modifier>
    </fa-sequential-layout>
</fa-modifier>
